.inline-image {
    padding-right: 2.25rem;
    background-repeat: no-repeat;
    background-position: center right .5625rem;
    -webkit-background-size: 1rem 1rem;
    background-size: 1rem 1rem;
    /* background-image: url(../../../../../../Images/chevron-down-grey.png); */
}

:host /deep/ .dropdown-menu[role="listbox"]{
    max-height: 150px;
    overflow-y: auto;
    overflow-x: hidden;    
 }


:host /deep/ .dropdown-item{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

